In [1]:
import pandas as pd
import xlsxwriter
path_file = "Ordenes.xlsx"

hoja = "Pedidos"
df = pd.read_excel(path_file, sheet_name = hoja)

In [2]:
df.columns.values

array(['N', 'Estado del pedido', 'Fecha del pedido', 'Nombre',
       'Apellidos', 'Dirección', 'Comuna', 'Fecha de despacho',
       'Horario de despacho', 'Nota del cliente', 'Correo electrónico',
       'Teléfono ', 'Método de pago', 'Total'], dtype=object)

In [1]:
df

NameError: name 'df' is not defined

# Filtraré el DataFrame

In [4]:
df["Total"]>20000

0      True
1      True
2      True
3      True
4     False
5      True
6     False
7     False
8      True
9     False
10    False
11    False
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24    False
25    False
26     True
27    False
28    False
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37    False
38     True
39    False
Name: Total, dtype: bool

In [5]:
df1 = df[df["Total"]<=20000]
df2 = df[df["Total"]>20000]

print(len(df1)) #Menores
print(len(df2)) #Mayores

12
28

In [6]:
df.shape #Imprime la forma que tiene el DataFrame

(40, 14)

In [7]:
media1 = df1["Total"].mean()
desv1 = df1["Total"].std()
print(media1, desv1)

18569.166666666668 488.69879798452047

In [8]:
media2 = df2["Total"].mean()
desv2 = df2["Total"].std()
print(media2, desv2)

27688.214285714286 7749.416730056827

In [9]:
print((media1+media2)/2)

23128.690476190477

In [10]:
df["Total"].mean()

24952.5

In [11]:
df1.describe()

                 N         Total
count    12.000000     12.000000
mean   1104.250000  18569.166667
std      23.614807    488.698798
min    1067.000000  18150.000000
25%    1088.500000  18272.500000
50%    1107.000000  18365.000000
75%    1124.750000  18697.500000
max    1130.000000  19530.000000

In [12]:
df2.describe()

                 N         Total
count    28.000000     28.000000
mean   1101.071429  27688.214286
std      20.375964   7749.416730
min    1069.000000  20130.000000
25%    1083.500000  21857.500000
50%    1098.000000  24960.000000
75%    1118.250000  31000.000000
max    1134.000000  44940.000000

In [13]:
stats_val1=[media1, desv1]
stats_val2=[media2, desv2]

# Creamos un DataFrame para guardarlo en un excel

In [14]:
indices = ["Media", "Desv. Estándar"]
r1 = pd.DataFrame(data = stats_val1, index=indices, columns=["Valores"] )
r2 = pd.DataFrame(data = stats_val2, index=indices, columns=["Valores"] )

In [15]:
r1

                     Valores
Media           18569.166667
Desv. Estándar    488.698798

In [16]:
r2

                     Valores
Media           27688.214286
Desv. Estándar   7749.416730

## Guardamos en un excel los resultados

In [17]:
file = "resultados.xlsx"
writer = pd.ExcelWriter(file, engine="xlsxwriter")

In [22]:
r1.to_excel(writer, sheet_name="Ventas <= a 20.000")
r2.to_excel(writer, sheet_name="Ventas mayores a 20.000")
writer.save()